.board_area {
    padding: 20px;
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
}

.notice-table th, .notice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.notice-table th {
    background-color: #f2f2f2;
    color: #333;
}